# Last Class
    - String 
    - Str functions
    - Concatenation
    - opertors / operands
    - String indexing 
    - variable names legal and illegal
    - Number System

# Today Class
    - operators
    - Type casting
    - User inputs
    - String formation    
    - variable naming convention

# Operators
  - + 
  - - 
  - * 
  - / 
  - //
  - % 
  - > < >= <=, !=, ==
  
 - unary operators
      - a=a+1   (incremental)   +=
      - b= b-1   (decremental)   -+

In [1]:
print(3+5) # int + int

8

In [3]:
print(500 + 12.6)  # int + float

512.6

In [4]:
print(3*6.6)

19.799999999999997

In [5]:
round(19.799999999999997,3)

19.8

In [7]:
10/3  # int / int

#  '/' is flaoting divsion

3.3333333333333335

In [8]:
10//3  # int // int 
# "//"  this is integer division

3

In [9]:
12%5  # modulus ya modulo operator 
      # remainder

2

In [10]:
15 % 10

5

In [11]:
10 > 12  # it returns a boolean (True/ False)

False

In [12]:
12 > 10

True

In [13]:
100 < 200

True

In [14]:
 12>=10

True

In [15]:
12<=10

False

In [16]:
12 == 12 # twelve 'equal to' 12

True

In [17]:
12 != 12 # twelve 'not equal to' 12

False

In [18]:
age  = 34

In [32]:
age = age+2
age

51

In [44]:
age +=5
age

87

In [51]:
age = age - 5
age

52

In [55]:
age -=3
age

40

In [65]:
age *=2
age

40960

In [74]:
age //=2  # flaot // int
age

640.0

In [82]:
marks = 90
type(marks)

int

In [83]:
print(type(marks))

<class 'int'>

# Type Casting

In [84]:
float(marks)

90.0

In [87]:
percentage  = 85.99999999
print(type(percentage))

<class 'float'>

In [88]:
int(percentage)

85

In [89]:
bloodpressure = "85"
print(type(bloodpressure))

<class 'str'>

In [90]:
int(bloodpressure)

85

In [91]:
coding = "Python"

In [92]:
int(coding)

ValueError: invalid literal for int() with base 10: 'Python'

# User input

    - Point to remember: 
        The input given at console by user is always a string
        even user inputs a number, it will a string.

In [95]:
input("Please tell me your good name!")

Please tell me your good name!Hassan

'Hassan'

In [96]:
name=input("Please let me know your name!")

Please let me know your name!Nasir HUssain

In [97]:
name

'Nasir HUssain'

In [98]:
userage  = input("Tell me your age please!")

Tell me your age please!20

In [99]:
userage

'20'

In [103]:
print("After five years user age will be:" + str(int(userage)+5))
      ###########String#################     str(###Integer#### )
#            String + int  >>>> error

After five years user age will be:25

In [104]:
books = 10

In [106]:
print("The books on table are " + str(books))

The books on table are 10

#####Taking user input and doing concatenation###

In [110]:
studentage = int(input("Dear student tell me your age!"))
studentname = input("Please tell me your name also")

print("Dear user your name is "+studentname + " and your age is "+ str(studentage))

Dear student tell me your age!23
Please tell me your name alsoAbdullah
Dear user your name is Abdullah and your age is 23

Dear user your name is Abdullah and you age is 23

# String concatenation and String Formation

In [115]:
studentage = int(input("Dear student tell me your age! "))
studentname = input("Please tell me your name also: ")

print("Dear user, your name is {0} and your age is {1}. ok Mr.{0} Hru? Your age will be {1} after 10 years".format(studentname, studentage))
# {placeholder}

Dear student tell me your age! 23
Please tell me your name also: Asad
Dear user, your name is Asad and your age is 23. ok Mr.Asad Hru? Your age will be str(23+10) after 10 years

# Another way of string formation

In [116]:
studentage = int(input("Dear student tell me your age! "))
studentname = input("Please tell me your name also: ")

print(f"Dear user, your name is {studentname} and your age is {studentage}.")

Dear student tell me your age! 67
Please tell me your name also: Rehan
Dear user, your name is Rehan and your age is 67.

# variable naming convention

In [119]:
#studentage
### Camel Casing###
#studentAge

my_first_publisged_book = "Python for kids"
mySecondPublishedBook = "Programming for all"