# Last Class
 - List
 - list methods
 - List indexing
 - List Slicing

# Today Class
 - More on list
 - loops
    - While 
    -for loop

In [1]:
# list Slicing

In [2]:
numbers = [11,22,33,44,55,66,77,88,99,100]

In [5]:
# Slicing is always done in Left to Right direction
# there will be no syntax error in case of wrong slice but results empty list
# slice returns the copy 
sliced_nums = numbers[3:7]

In [6]:
sliced_nums

[44, 55, 66, 77]

In [7]:
numbers[7:3]

[]

In [10]:
#i want to sliced from 77(index6) to 100(index9)
numbers[6:9]

# 100 will not be included in the slice as extreme right index is ignored.

[77, 88, 99]

In [11]:
numbers[6:10]

[77, 88, 99, 100]

In [12]:
numbers[6:]  # start from index 6 and goto very last

[77, 88, 99, 100]

In [13]:
numbers[:6] # start from very begining and goto index 6-1

[11, 22, 33, 44, 55, 66]

# Copying a list

In [14]:
new = numbers.copy()
new
# by using copy function

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [16]:
new1 = numbers[0:9+1]
new1

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [17]:
new2 = numbers[:] # start from 0 and goto very end

In [18]:
new2

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [19]:
numbers

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [20]:
myNums = numbers

In [21]:
myNums

[11, 22, 33, 44, 55, 66, 77, 88, 99, 100]

In [22]:
id(numbers)

2692823969088

In [23]:
id(myNums)

2692823969088

In [24]:
del numbers[9]

In [25]:
numbers

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [26]:
myNums

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [27]:
a=100 
b=a
# Pass by refernce

In [28]:
id(a)

2692746728912

In [29]:
id(b)

2692746728912

In [30]:
c = 100

In [31]:
id(c)

2692746728912

Update list

In [32]:
myNums

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [33]:
myNums[2]=3333

In [34]:
myNums

[11, 22, 3333, 44, 55, 66, 77, 88, 99]

In [35]:
numbers

[11, 22, 3333, 44, 55, 66, 77, 88, 99]

In [36]:
myNums[2:4]=[333,444,555]

In [37]:
myNums

[11, 22, 333, 444, 555, 55, 66, 77, 88, 99]

In [39]:
myNums[1:6:1]

[22, 333, 444, 555, 55]

In [40]:
myNums[1:6:2]

[22, 444, 55]

In [41]:
myNums[::2]

[11, 333, 555, 66, 88]

# Is there a way to slice from right to left??????

In [42]:
myNums

[11, 22, 333, 444, 555, 55, 66, 77, 88, 99]

In [43]:
myNums[::-1]

[99, 88, 77, 66, 55, 555, 444, 333, 22, 11]

In [45]:
myNums[-3:-6:-1]

[77, 66, 55]

In [46]:
myNums[-6:-3]

[555, 55, 66]

In [47]:
para = "We are leraning python"

In [48]:
para[4:6]

're'

In [49]:
para[4]="ererte"

# coz string is immutable

TypeError: 'str' object does not support item assignment

In [51]:
para * 3

'We are leraning pythonWe are leraning pythonWe are leraning python'

In [52]:
a = str(6)
b = 3

a * b

'666'

In [53]:
myNums*2

[11,
 22,
 333,
 444,
 555,
 55,
 66,
 77,
 88,
 99,
 11,
 22,
 333,
 444,
 555,
 55,
 66,
 77,
 88,
 99]

# Loops

In [57]:
# To reduce our code 
staff_list = ["Nasir", "Asad", "Handy", "yasir","Nasir1", "Asad2", "Handy3", "yasir4"]
print(f"Weldone {staff[0]}")
print(f"Weldone {staff[1]}")
print(f"Weldone {staff[2]}")
print(f"Weldone {staff[3]}")
print(f"Weldone {staff[4]}")
print(f"Weldone {staff[5]}")
print(f"Weldone {staff[6]}")
print(f"Weldone {staff[7]}")

Weldone Nasir
Weldone Asad
Weldone Handy
Weldone yasir
Weldone Nasir1
Weldone Asad2
Weldone Handy3
Weldone yasir4

In [58]:
# to do repeated task in one go
for staff in staff_list:
    print(f"Weldone {staff}")

Weldone Nasir
Weldone Asad
Weldone Handy
Weldone yasir
Weldone Nasir1
Weldone Asad2
Weldone Handy3
Weldone yasir4

In [61]:
for character in para:
    print(character)

W
e

a
r
e

l
e
r
a
n
i
n
g

p
y
t
h
o
n

In [63]:
for character in "para":
    print(character)

p
a
r
a

In [64]:
for character in "para":
    print(character*10)

pppppppppp
aaaaaaaaaa
rrrrrrrrrr
aaaaaaaaaa

In [66]:
for digit in 1000000:
    print(digit)

TypeError: 'int' object is not iterable

In [67]:
for digit in "1000000":
    print(digit)

1
0
0
0
0
0
0

# range()

In [72]:
for a in range(5):#01234
    print(a, end="")

01234

In [73]:
for a in range(1,25):#01234
    print(a, end="")

123456789101112131415161718192021222324

In [74]:
for a in range(10,1):#01234
    print(a, end="")

In [77]:
for a in range(1,25,3):#01234
    print(a, end="")

1471013161922

In [80]:
for a in range(25,5,-2):#01234
    print(a)

25
23
21
19
17
15
13
11
9
7

# For loop keywrods 
   - continue
   - break
   - else

In [82]:
for num in range(1,11):
    print(num)
    if num == 7:
        break

1
2
3
4
5
6
7

In [84]:
for num in range(1,11):
    if num == 7:
        continue
    print(num)

1
2
3
4
5
6
8
9
10

In [88]:
# write a program to check if user given input is odd or even
num = int(input("Enter a number"))
if num%2==0:
    print(f"The number {num} is even")
else:
    print(f"The number {num} is odd")

Enter a number9
The number 9 is odd

In [89]:
for a in range(5):
    num = int(input("Enter a number"))
    if num%2==0:
        print(f"The number {num} is even")
    else:
        print(f"The number {num} is odd")

Enter a number2
The number 2 is even
Enter a number3
The number 3 is odd
Enter a number5
The number 5 is odd
Enter a number6
The number 6 is even
Enter a number8
The number 8 is even

In [90]:
evens=[]
odds=[]

for a in range(5):
    num = int(input("Enter a number"))
    if num%2==0:
        print(f"The number {num} is even")
        evens.append(num)
    else:
        print(f"The number {num} is odd")
        odds.append(num)

Enter a number99
The number 99 is odd
Enter a number50
The number 50 is even
Enter a number23
The number 23 is odd
Enter a number78
The number 78 is even
Enter a number90
The number 90 is even

In [91]:
evens

[50, 78, 90]

In [102]:
"my name is nasir hussain".split(' ')

['my', 'name', 'is', 'nasir', 'hussain']

In [92]:
odds

[99, 23]

In [96]:
numbers = input("Enter your favourite numbers").split(',')
numbers

Enter your favourite numbers1,2,3,4,5,6,7,8,9,0,1,2,3,2,3,4,5,6,7,56,5434,45,67

['1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '0',
 '1',
 '2',
 '3',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '56',
 '5434',
 '45',
 '67']

In [98]:
numbers = input("Enter your favourite numbers").split(',')
evens= []
odds = []

for num in numbers:
    if int(num)%2==0:
        evens.append(num)
    else:
        odds.append(num)
print(f"Evens : {evens}")
print(f"odds  : {odds}" )

Enter your favourite numbers1,2,3,4,5,6,7,8,9,0
Evens : ['2', '4', '6', '8', '0']
odds  : ['1', '3', '5', '7', '9']

In [103]:
a = [1, 2,  3,  4,  5]
#   -5  -4  -3  -2  -1  
a[-4:-1]

[2, 3, 4]

In [104]:
a[1:4]

[2, 3, 4]