In [1]:
import psycopg2

In [25]:
host_name = 'localhost'
data_base = 'postgres'
user_name = 'postgres'
pwd = 'saylani1234'
port_id = 5432

# configuration file

In [38]:
cur = None
conn= None
try:
    conn = psycopg2.connect(
                host=host_name
                ,port=port_id
                ,user = user_name
                ,password=pwd
                ,dbname=data_base)
    
    cur = conn.cursor()
    cur.execute("DROP TABLE IF EXISTS student")
    
    ######## Create Table Querry###############
    #Step1:
    create_table_script = '''
            CREATE TABLE IF NOT EXISTS student(
            id       INT PRIMARY KEY
           ,name     VARCHAR(50) NOT NULL
           ,course   VARCHAR(50) NOT NULL
           ,fee      INT 
           )
    '''
    #Step2: Execute query using cur
    cur.execute(create_table_script)
    
    
    #### Insert Table Data Querry #########
    insert_table_script = '''
                INSERT INTO student(id, name,course, fee)
                VALUES(%s,%s,%s,%s)
                '''
    records = [(116,'Nasir','Python',12000),
               (113, "Asad", "Python", 13000),
              (114, "Noman", "Java", 15000),
               (115, "fahad", "C", 10000)]
    
    for record in records:
        cur.execute(insert_table_script, record)
    
    
    #########update querry##################
    update_record_script = '''     
     UPDATE student SET fee = fee + (fee * 0.2)    
    '''
    cur.execute(update_record_script)
    
    
    
    #Step3: Commit the changes using conn (1 time)
    conn.commit()
    
    
    
    
    
    
except Exception as error:
    print("Exception Caught: \n" + str(error))
finally:
    if cur is not None:
        cur.close()
    
    if conn is not None:
        conn.close()