Previous Classes:
    - List 
    - Tuple
    - Set

Today
 - Dictinory  (A key value pair)

In [2]:
# declare and initilize

adic = {"name": "Kamran", "age":29}
       #  key :  Value     key:value

In [3]:
adic

{'name': 'Kamran', 'age': 29}

In [6]:
print(type(adic))

<class 'dict'>

In [9]:
empty_dic = {}
alist = [1,2,3,4,5]
aset= {22,33,44,55}
atuple =(90,100)
astring="Saylani Mass IT Training"

In [11]:
print(len(empty_dic),len(alist),len(aset),len(atuple),len(astring))

0 5 4 2 24

In [12]:
adic

{'name': 'Kamran', 'age': 29}

Operation: create, add, update, delete,retrieve (CRUD)

In [13]:
#Create
adic = {"name": "Kamran", "age":29}
       #  key :  Value     key:value

In [14]:
# add
adic['city']= "Karachi"

In [15]:
adic

{'name': 'Kamran', 'age': 29, 'city': 'Karachi'}

In [16]:
# update
adic['age']=25
adic

{'name': 'Kamran', 'age': 25, 'city': 'Karachi'}

In [17]:
# retrieve
adic['name']

'Kamran'

In [18]:
# another way to get value of key
adic.get('name')

'Kamran'

In [19]:
del adic['city']

In [20]:
adic

{'name': 'Kamran', 'age': 25}

In [21]:
roll_1 = {"name":"Asad","father_name":"Nasir", "Course":"Python", "Class_time":"9 to 11" }

In [22]:
# iterating a dictionary
for dic_value in roll_1:
    print(dic_value)
    
# if we directly iterate over a dictionary it will return only the KEYS

name
father_name
Course
Class_time

In [23]:
for keys in roll_1.keys():
    print(keys)

name
father_name
Course
Class_time

In [24]:
for value in roll_1.values():
    print(value)

Asad
Nasir
Python
9 to 11

In [26]:
# RETRIVING ALL VALUES VIA KEY
for keys in roll_1.keys():
    print(f"The keys is {keys} and the value is {roll_1[keys]}")

The keys is name and the value is Asad
The keys is father_name and the value is Nasir
The keys is Course and the value is Python
The keys is Class_time and the value is 9 to 11

In [27]:
# getting key value together from dic 
for xyz in roll_1.items():
    print(xyz)

('name', 'Asad')
('father_name', 'Nasir')
('Course', 'Python')
('Class_time', '9 to 11')

In [29]:
for key,value in roll_1.items():
    print(f"Key:{key}      Value:{value}")

Key:name      Value:Asad
Key:father_name      Value:Nasir
Key:Course      Value:Python
Key:Class_time      Value:9 to 11

In [31]:
roll_1

{'name': 'Asad',
 'father_name': 'Nasir',
 'Course': 'Python',
 'Class_time': '9 to 11'}

In [32]:
# a Key can be a str or int
# a value can be a str , int, list , tuple, set , dic, boolean  

miscDic = {1:100, 2:200}

In [33]:
miscDic

{1: 100, 2: 200}

In [35]:
miscDic['three']=300

In [36]:
miscDic

{1: 100, 2: 200, 'three': 300}

In [37]:
miscDic[4]="Four Hundred"
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'Four Hundred'}

In [38]:
miscDic['test']=False
miscDic

{1: 100, 2: 200, 'three': 300, 4: 'Four Hundred', 'test': False}

# A list in a Dictionary

In [39]:
class_python = {'Students':['Asad',"Fahad",'Hassan', 'Nasir', 'Karim', 'Rehan']
               , 'Courses':['Python', "GD", "WEb", "Networking", 'ChatBot','Python']
               , 'Day'    :['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday']
                , 'Ages'  :[34,56,34,23,19,20]
               }

In [40]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [41]:
for key,value in class_python.items():
    print(value)

['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan']
['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']
['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday']
[34, 56, 34, 23, 19, 20]

In [42]:
# get single a student record
for key,value in class_python.items():
    print(value[0])

Asad
Python
MOnday
34

In [43]:
import pandas

In [44]:
pandas.DataFrame(class_python)

  Students     Courses        Day  Ages
0     Asad      Python     MOnday    34
1    Fahad          GD    Tuesday    56
2   Hassan         WEb  Wednesday    34
3    Nasir  Networking   Thursday    23
4    Karim     ChatBot     Friday    19
5    Rehan      Python  Sarturday    20

In [45]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [ ]:
class_python['Courses']

In [46]:
a = ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python']

In [55]:
for name in a:
    if name=="ChatBot":
        print("True")
        break

True

# Keyword " in "

In [56]:
'ChatBot' in a

True

# Keyword "is"

In [57]:
# pass by value
b = a.copy()
c = a[:]
# pass by reference
d = c

In [58]:
if type(a)=='list':
    b=a.copy()

list

False

In [60]:
d is c

True

In [61]:
z= 100
x = z
y =100

In [62]:
z is x

True

In [63]:
y is z

True

In [64]:
class_python['Courses'][2]

'WEb'

In [79]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [80]:
for key in class_python:
    if key=='Courses':
        for course in class_python[key]:
            print(course)
    else:
        print("There is no 'Courss' key")
        break

There is no 'Courss' key

In [73]:
for key in class_python['Courses']:
    print(key)

Python
GD
WEb
Networking
ChatBot
Python

In [74]:
class_python

{'Students': ['Asad', 'Fahad', 'Hassan', 'Nasir', 'Karim', 'Rehan'],
 'Courses': ['Python', 'GD', 'WEb', 'Networking', 'ChatBot', 'Python'],
 'Day': ['MOnday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Sarturday'],
 'Ages': [34, 56, 34, 23, 19, 20]}

In [76]:
class_python['Ages'][3]

23