# Python Class3

Today is our class # 3. We will study in detail 
- String 
- Number System
- variable names
- operators

# Last Class
- Data Types
    - String (str)
    - NUmbers 
       - Integers (int)
       - Decimal (Float)
       - Boolean (Bool)

In [1]:
age  = 100

In [2]:
print("age")

age

In [3]:
print(age)

100

# String Concatenation(+)

In [4]:
firstname = "Nasir"
lastname = "Hussain"

In [9]:
print(firstname + lastname )

#concatenation operator

NasirHussain   ooi

In [7]:
print(100 + 500)
# addition operator

600

In [8]:
print("Pakistan" + 1947)

TypeError: can only concatenate str (not "int") to str

In [20]:
country="pakistan"

In [16]:
print(type(country))

<class 'str'>

In [21]:
country.capitalize()

'Pakistan'

In [22]:
country.upper() # change the value of country variable to upper case

'PAKISTAN'

In [23]:
country

'pakistan'

In [24]:
country =country.upper()  # change the value of country variable to upper case 
                            #and re-assign (update) to country

In [25]:
country

'PAKISTAN'

In [27]:
country.count("a")
country.count("A")

2

In [28]:
sentence  = "my name is nasir hussain and i am a computer student. I have so many students in my class online"

In [32]:
sentence.count("student")

0

In [30]:
sentence.count('class')

1

In [34]:
sentence.endswith("online")

True

In [35]:
sentence.isdigit()

False

In [37]:
number  = 56
print(type(number))

<class 'int'>

In [38]:
num = "56"
print(type(num))

<class 'str'>

In [39]:
num.isdigit()

True

In [42]:
email = " aghanhussain@gmail.com "
len(email)

24

In [46]:
email = email.lstrip()
email

'aghanhussain@gmail.com '

In [49]:
email = email.rstrip()

In [50]:
email

'aghanhussain@gmail.com'

In [51]:
email2 = "   smit@gmail.com  "

In [54]:
email2 = email2.strip()

In [55]:
email2

'smit@gmail.com'

In [57]:
email2.find("i") # shift + tab to see documentation

2

In [67]:
email2.find("i",3)

8

# indexing of Strings

In [63]:
college = "my college"
          #0123456789

In [64]:
len(college)

10

In [62]:
college[0]

'm'

In [65]:
college[8]

'g'

In [66]:
college[3:8] # slicing a str

'colle'

# variable names
- match data

In [69]:
colleg name = "smit" # space not allowed

SyntaxError: invalid syntax (Temp/ipykernel_14676/2990057219.py, line 1)

In [70]:
1college = "smit"  # CAN NOT start with a number

SyntaxError: invalid syntax (Temp/ipykernel_14676/2266904920.py, line 1)

In [72]:
$name = "ASsd"
first@name = ali 

# special character not allowed niether in start nor in mid or end.

SyntaxError: invalid syntax (Temp/ipykernel_14676/2780797927.py, line 1)

In [74]:
True = "asds"   # key word / reserved word

SyntaxError: cannot assign to True (Temp/ipykernel_14676/2737884872.py, line 1)

# Number System
 - decimal number system  (0123456789)
 - binary number system   (01)
 - octal number system    (01234567)
 - hexadeciaml number system (0123456789ABCDEF)

In [76]:
0O1145   #(ZEERO O 45)

613

SyntaxError: invalid syntax (Temp/ipykernel_14676/3711062670.py, line 1)

# String is immutable

In [80]:
name  = "Karachi"

In [81]:
name[0]

'K'

In [82]:
name[0]="T" # error string immutable

TypeError: 'str' object does not support item assignment

In [83]:
name = "Lahore"